.container{
    display: flex;
    flex-direction: column;
}

.gameboard {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.gamecell {
    height: 150px;
    background-color: lightgray;
}